.App {
  text-align: center;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homepageContainer .homepage {
  width: 60%;
}

.homepageContainer .homepage .buttonDiv button {
  margin-right: 5px;
}

.imageGeneratorContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGeneratorContainer .imageGenerator {
  width: 80%;
}

.imageGeneratorContainer .imageGenerator .buttonDiv button {
  margin-left: 5px;
}

.imageGeneratorContainer .imageGenerator .imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imageGeneratorContainer .imageGenerator .imageContainer .image {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.homepageInput {
  margin-top: 200px;
}

.homepageInput button {
  margin-top: 20px;
}